body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  background-color: #000;
  border: 2px solid #fff;
}
